@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  /* Show scrollbar */
  .scrollbar::-webkit-scrollbar {
    display: block;
  }
  .scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }
}

@layer base {
  :root {
    /* Background light colors */
    --bg-primary: rgb(255, 255, 255);
    --bg-secondary: rgb(196, 201, 204);
    --border: rgb(223, 225, 229);
    --bg-search: rgb(250, 250, 250);
    --border-search: rgb(223, 225, 229);
    --bg-hover: rgba(240, 240, 240, 1);
    --bg-line: rgba(85, 85, 85, 1);
    --bg-button: rgba(78, 142, 255, 1);
    --bg-button-hover: rgba(58, 122, 209, 1);
    --bg-image: url('./assets/home-bg-light.jpg');
    --bg-image-color: rgba(238, 239, 239, 0.2);
    --bg-message-sender: rgb(240, 255, 222);
    --bg-message-receiver: rgb(255, 255, 255);

    /* Text colors */
    --text-primary: #000000;

    /* styles root */
    overflow: hidden;
  }
  /* Background dark colors */
  .dark-theme {
    /* Dark Theme Colors */
    --bg-primary: rgb(33, 33, 33);
    --bg-secondary: rgb(44, 44, 44);
    --border: rgb(55, 55, 55);
    --bg-search: rgb(66, 66, 66);
    --border-search: rgb(77, 77, 77);
    --bg-hover: rgba(10, 10, 10, 0.8);
    --bg-line: rgba(170, 170, 170, 255);
    --bg-button: rgba(121, 113, 192, 1);
    --bg-button-hover: rgba(101, 93, 172, 1);
    --bg-image: url('./assets/home-bg-dark.jpg');
    --bg-image-color: rgba(17, 16, 16, 0.61);
    --bg-message-sender: rgba(121, 113, 192, 1);
    --bg-message-receiver: rgba(33, 33, 33, 1);

    /* Text colors */
    --text-primary: rgb(255, 255, 255);
    --text-secondary: rgb(197, 194, 194);
  }
}

.chat-bg {
  position: relative;
  background-image: var(--bg-image);
  background-position: center;
  background-repeat: repeat;
  background-size: 23%;
  z-index: 0;
}

.chat-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-image-color); /* Adjust the opacity as needed */
  z-index: 0;
}

.scrollable::-webkit-scrollbar {
  @apply h-[5px]; /* Scrollbar width */
  @apply w-[10px];
}

.noScrollable::-webkit-scrollbar {
  @apply h-[0px]; /* Scrollbar width */
}

.scrollable::-webkit-scrollbar-track {
  @apply bg-bg-primary; /* Track color */
}

.scrollable::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-600; /* Handle color and rounded edges */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500; /* Handle color on hover */
}
